ASSIGNMENT -1 BY TANYA MANCHANDA

Q1. Create one variable containing following type of data:

In [7]:
#(i) string
s="string"

In [8]:
type(s)

str

In [4]:
#(ii) list
fruits = ['apple', 'banana', 'orange', 'kiwi']

In [5]:
type(fruits)

list

In [9]:
#(iii) float
f=6.67

In [10]:
type(f)

float

In [12]:
#(iv) tuple
num = (1, 2, 3, 4, 5)

In [13]:
type(num)

tuple

Q2. Given are some following variables containing data:
What will be the data type of the above given variable.
(i) var1 = ‘ ‘- STRING
(ii) var2 = ‘[ DS , ML , Python]’= String
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]-List
(iv) var4 = 1.-Float

In [22]:
var1 = ' '

In [23]:
type(var1)

str

In [24]:
var2 = '[ DS , ML , Python]'

In [25]:
type(var2)

str

In [20]:
var3 = ['DS' ,'ML' ,'Python' ]

In [21]:
type(var3)

list

In [17]:
var4 = 1.

In [18]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [1]:
a=10
b=15

In [2]:
a/b

0.6666666666666666

In [3]:
a%3

1

In [5]:
a//3

3

In [6]:
a**2

100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [8]:
alist = ['hello', 7, 3.7, True,788, 'banana', 2.4, False, 'orange', 8]

for item in alist:
    print(f"{item}: {type(item)}")

hello: <class 'str'>
7: <class 'int'>
3.7: <class 'float'>
True: <class 'bool'>
788: <class 'int'>
banana: <class 'str'>
2.4: <class 'float'>
False: <class 'bool'>
orange: <class 'str'>
8: <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [23]:
A = 50
B = 5
count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"A is divisible by B exactly {count} times.")
else:
    print(f"A is not divisible by B.")

A is divisible by B exactly 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [25]:
nlist = [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130]

for num in nlist:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

10 is not divisible by 3
15 is divisible by 3
20 is not divisible by 3
25 is not divisible by 3
30 is divisible by 3
35 is not divisible by 3
40 is not divisible by 3
45 is divisible by 3
50 is not divisible by 3
55 is not divisible by 3
60 is divisible by 3
65 is not divisible by 3
70 is not divisible by 3
75 is divisible by 3
80 is not divisible by 3
85 is not divisible by 3
90 is divisible by 3
95 is not divisible by 3
100 is not divisible by 3
105 is divisible by 3
110 is not divisible by 3
115 is not divisible by 3
120 is divisible by 3
125 is not divisible by 3
130 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable data types are those that cannot be changed or modified once they are created. 
If we try to modify an immutable object, Python creates a new object instead of modifying the existing one.
Examples of immutable data types in Python include strings, and tuples

In [27]:
g = "hello"  # string
h = (1, 2, 3)  # tuple

# Trying to modify b, and c
g += " world"
h += (4, 5, 6)

# Printing a, b, and c
print(g)  
print(h)

hello world
(1, 2, 3, 4, 5, 6)

Mutable data types, on the other hand, are those that can be changed or modified in place. 
Examples of mutable data types in Python include lists

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Modifying my_list
my_list[2] = 10
my_list.append(6)

# Printing my_list
print(my_list)  # Output: [1, 2, 10, 4, 5, 6]